
body{
    margin: 0;
}
/* flex */

/* .wrap{
    display: flex;
    height: 100vh;
    padding: 20px 0;
}
.menu{
    background-color: indigo;
    color:white;
    width:250px;
}
.content{
    padding: 20px;
    flex-grow: 100;
} */

/* inline-block */

/* .wrap{
    height: 100vh;
    padding: 20px 0;
}
.menu{
    display: inline-block;
    background-color: indigo;
    color:white;
    width:250px;
    height: 100%;
    vertical-align:top;
}
.content{
    display: inline-block;
    padding: 20px;
    margin: 0;
    width: calc(100% - 295px);
} */

/*float*/
.wrap{
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 0;
}
.menu{
    background-color: indigo;
    color:white;
    width:250px;
    height: 100%;
    float: left;
}
.content{
    padding: 20px;
    padding-left: 270px;
    margin: 0;
}