body{
    margin: 0;
}
html, body, .wrap{
    height: 100%;
}
.wrap{
    display: grid;
    grid-template-rows: 50px auto 50px;
}
.header,.content,.footer,.left,.centr,.right{
    box-sizing: border-box;
    border:1px solid red;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}